* {
  box-sizing: border-box;
}
body {
  background: #010202;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}
.header {
  width: 90%;
  max-width: 1146px;
  margin: auto;
  padding: 56px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
}

.user {
  display: flex;
  align-items: center;
}

.user-name {
  margin-right: 15px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}

.app {
  background: linear-gradient(
    90deg,
    #010202 0%,
    #010202 43%,
    rgba(1, 2, 2, 0.2) 90.9%
  );
  min-height: 100vh;
  color: #fff;
}

.film {
  width: 90%;
  max-width: 1146px;
  padding: 7% 0;
  margin: auto;
}

.description {
  max-width: 460px;
  font-size: 21px;
  line-height: 1.4;
  margin-bottom: 36px;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 16px;
  line-height: 1.4;
  color: #e5e5e5;
  opacity: 0.4;
  display: flex;
  flex-wrap: wrap;
}

.tags > * {
  margin-right: 15px;
  margin-bottom: 10px;
}

.age {
  border: 1px solid #ffffff;
  border-radius: 2px;
  padding: 1px 5px;
}

.button {
  padding: 11px 26px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.4;
  color: #ffffff;
  cursor: pointer;
  background: #2f2f2f;
}
.button-primary {
  background: #ea6e20;
  margin-right: 15px;
}

.button-text {
  margin-left: 10px;
  vertical-align: text-bottom;
}

.popup {
  display: none;
}

.popup input {
  padding: 11px 26px;
  border-radius: 6px;
  border: 1px solid #2f2f2f;
  margin-bottom: 15px;
}
.popup .button {
  margin-left: 15px;
}

/* Responsive */

@media (max-width: 768px) {
  .app {
    height: auto;
    padding-bottom: 400px;
    background: url(../img/cover-image.jpg) no-repeat bottom center / 300px;
  }
  video {
    display: none;
  }
  .film {
    padding-top: 2%;
  }
  .description {
    font-size: 16px;
    max-width: 333px;
  }
  .film-logo {
    max-width: 100%;
  }
  .tags {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .button-text {
    display: none;
  }
  .user-name {
    display: none;
  }
  .app {
    padding-bottom: 350px;
    background-size: 300px;
  }
  .button {
    margin-bottom: 10px;
  }
  .popup input {
    width: 100%;
  }
  .popup .button {
    margin-left: 0;
    width: 100%;
  }
}
